<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

    <title>Dirty Unicorns Server Status Page</title>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: rgb(96,125,139)">
    <span class="navbar-brand mb-0 h1">DU Server Status</span>
</nav>
<div class="container">
    <div class="row">
        {% for check in checks %}
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        {% if check.status == true %}
                    <p class="bubble-green bubble">
                        {% else %}
                    <p class="bubble-red bubble">
                        {% endif %}
                        <span class="bubble-outer-dot">
                            <span class="bubble-inner-dot"></span>
                        </span>
                    </p>
                    <p class="title">{{ check.name }}<br>
                        Last Update: {{ check.lastPing }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script>
    var options = {
        label: '🌓'
    }

    const darkmode = new Darkmode(options);
    darkmode.showWidget();
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>